.container1 {
    text-align: center;
    border-radius: 0;
    border-bottom: black solid 5px;
    font-size: 30px;
    margin-bottom: 10px;
}

.container {
    float: center;
    height: 100%;
    width: 100%
}

.row {
    display: flex;
    justify-content: center;
    height: 90px;
}

textarea {
    color: black;
    border-left:grey solid 1px;
    border-top: grey solid 1px;
    border-bottom: grey solid 1px;
    width: 55%;
    padding: 20px;

}

.timeArea {
    text-align: center;
    font-size: 20px;
    border-top: grey solid 1px;
    padding-top: 25px;
    border-bottom: grey solid 1px;
}

.pastTime {
    background-color: lightblue;
}

.presentTime {
    background-color: lightgreen;
}

.futureTime {
    background-color: red;
}

.saveButton {
    background-color: #06AED5;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (min-width: 320px) and (max-width: 480px) {
    
}

@media (min-width: 768px) and (max-width: 1024px) {
  
}
